@import (reference) "../../../../theme.less";

.audio-editor-main
{
	.flex-container(row);
	height: 152px;
	width: 800px;

	> .audio-spectrum
	{
		.flex-item(@shrink: 0);
		position: relative;
		top: 26px;
		width: 200px;
		height: 100px;

	}

	> .audio-editor
	{
		.flex-item(@grow: 3);
		.flex-container(column);
		position: relative;

		> .editControls
		{
			.flex-item(@shrink: 0);
			.flex-container(row; @justify-content: space-between);


			.ui-button-text-icon-primary
			{
				font-size: smaller;
				width: 84px;
				height: 22px;
			}
		}

		> .display
		{
			.flex-item(@shrink: 0);
			height: 100px;
			width: 800px;

			&:empty:after
			{
				content: " ";
				width: 100%;
				height: 100%;
				background: url('/Images/waiting-wheel-300x300.gif') no-repeat center;
				background-size: 100px 100px;
			}

			> .audioChannelEditor
			{
				width: 800px;
				height: 100px;
			}
		}

		> .playbackControls
		{
			.flex-item(@shrink: 0);
			.flex-container(row; @justify-content: space-between);

			> [name=file]
			{
				display: none;
			}

			.ui-button-text-icon-primary
			{
				font-size: smaller;
				width: 84px;
				height: 22px;
			}

			.ui-button-icon-only
			{
				width: 22px;
				height: 22px;

				> .ui-button-icon-primary
				{
					zoom: 1.25;
				}
			}

			.ui-button-text-icons
			{
				font-size: smaller;
				width: 108px;
				height: 22px;

				>.ui-button-icon-primary
				{
					border-right: 1px solid @state-default-border;
				}

				>.ui-button-icon-secondary
				{
					border-left: 1px solid @state-default-border;
				}
			}
		}

		> .timeline
		{
			position: absolute;
			top: 26px;
			height: 100px;
			width: 800px;
			z-index: 9;
			background: rgba(255, 255, 0, 0.2);
		}
	}

	&.stereo
	{
		height: 252px;

		> .audio-spectrum
		{
			height: 200px;
		}

		> .audio-editor
		{
			>.display
			{
				height: 200px;
			}

			> .timeline
			{
				height: 200px;
			}
		}
	}

	.ui-button.ui-state-hover
	{
		border: none !important;
	}
}
